.modal {
    width: 100%;
    height: 650px;
    display: var(--flex);
    justify-content: var(--center);
    align-items: var(--center);
    position: fixed;
    top: 35px;
    display: none;
    transition: .5s;
}

.modal .container {
    width: 80%;
    height: 90%;
    background-color: var(--card-color);
    border-radius: 8px;
    box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.08);
    overflow-y: auto;
}

.modal .container .header {
    width: 100%;
    height: 100px;
    display: var(--flex);
    justify-content: var(--center);
    align-items: var(--center);
    background: rgb(113, 54, 141);
    background: linear-gradient(38deg, #374E76 0%, #BC4AB1 100%);
    ;
}

.modal .container .header .content {
    width: 89%;
    height: 100%;
    display: var(--flex);
    justify-content: var(--center);
    align-items: var(--center);
}

.modal .container .header .content .left {
    width: 33%;
    height: 100%;
}

.modal .container .header .content .center {
    width: 33%;
    height: 100%;
    display: var(--flex);
    justify-content: var(--center);
    align-items: var(--center);
    font-family: var(--title);
    color: var(--title-color);
    font-size: 14pt;
}

.modal .container .header .content .right {
    width: 33%;
    height: 100%;
    display: var(--flex);
    justify-content: var(--flex-end);
    align-items: var(--center);
}

.modal .container .header .content .right img {
    width: 6%;
    cursor: pointer;
}

.produto-carrinho {
    display: var(--flex);
    justify-content: var(--center);
    align-items: var(--center);
    margin-top: 30px;
    margin-bottom: 15px;
    width: 80%;
    height: 100px;
    border-radius: 8px;
    box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.03);
}

.carrinho-p {
    display: var(--flex);
    justify-content: var(--space-around);
    flex-wrap: var(--wrap);
    overflow-y: visible;
}

.carrinho-p form {
    width: 100%;
    height: 200px;
    display: var(--flex);
    justify-content: var(--center);
    align-items: var(--center);
    flex-wrap: var(--wrap);
    /* background-color: #374E76; */
}

.carrinho-p form input {
    width: 180px;
    height: 60px;
    border: none;
    cursor: pointer;
    transition: .5s;
}

.carrinho-p form input:hover {
    transition: .5s;
    background-color: #3f3f3f;
    border-radius: 8px;
    color: var(--title-color);
}

.info-produtos {
    width: 150px;
    height: 100%;
    display: var(--flex);
    justify-content: var(--center);
    align-items: var(--center);
    font-family: var(--title);
    color: #3f3f3f;
}

.info-produtos img {
    width: 30%;
}

.vazio {
    margin-top: 30px;
    width: 100%;
    display: var(--flex);
    justify-content: var(--center);
    align-items: var(--center);
}

.vazio a {
    margin-left: 20px;
    text-decoration: none;
}

.valor-total {
    margin-top: 30px;
    margin-bottom: -20px;
    width: 80%;
    height: 50px;
    display: var(--flex);
    justify-content: var(--center);
    align-items: var(--center);
    color: #3f3f3f;
    font-family: var(--title);
}

.valor-total .valor {
    margin-left: 10px;
    color: green;
    font-weight: bolder;
}

.excluir{
    margin-left: -80px;
    width:120px;
    height:100%;
    display: var(--flex);
    justify-content: var(--center);
    align-items: var(--center);
}

.excluir .img-excluir{
    cursor: pointer;
    border-radius: 100%;
    width:35px;
    height: 35px;
    background-color:#d75a4a;
    display: var(--flex);
    justify-content: var(--center);
    align-items: var(--center);
    color: var(--title-color);
    font-size: 18pt;

}

.info-produtos a{
    text-decoration: none;
    color: #3f3f3f;
    text-family: var(--title);
}