:root {
    /* VARIAVEL EXEMPLO */
    --variavel: #3f3f3f;
    --flex: flex;
    --center: center;
    --wrap: wrap;
    --nowrap: nowrap;
    --flex-start: flex-start;
    --flex-end: flex-end;
    --title: 'Montserrat', sans-serif;
    --space-around: space-around;
    --space-evenly: space-evenly;
    --title-color: rgb(219, 221, 226);
    --card-color: rgb(238, 236, 241);
}

textarea:focus,
input:focus,
select:focus {
    border-color: none !important;
    outline: 0;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

body {
    background-color: rgb(219, 221, 226);
}


/* QUERY EXEMPLO */

@media only screen and (max-width: 800px) {}